{% extends 'base1.html'%}
{% load static %}
{% block content%}

      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      
    
 
     
      <div class="container">
        <div class="card">


          <div class="card-body">
           <div class="text-center" >
            <img class="card-img-top " style="width:80%"  src="{{articleD.pic2.url}}"  alt="img">
                </div>
                <h1 class="card-title text-center" style="font-family: 'Lobster', cursive;margin-top:2%;margin-bottom:2%">{{articleD.Title|safe}}</h1>
            <p class="card-text text-center" style="margin-top:5%;font-family: 'Merienda One', cursive;color:#3d3d3d">{{articleD.Body|safe}}</p>

          </div>

        </div>
        <div class="container">
        <div class="fb-comments" data-href="{{request.build_absolute_uri}}" data-numposts="5"></div>
          </div>



      </div>
      
      

  {%endblock%}

</html>
