{% extends 'base1.html' %}
{% load static %}


{% block content%}
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      
    
      {% load crispy_forms_tags %}
<div class="container">
    <form method='post'>
        {% csrf_token %}
        
        <span class="font-family: 'Faster One', cursive;">{{form|crispy}}</span>
        <div class="text-center">
        <button type="submit" class="btn btn-info btn-sx">signup</button>
      
</div>

    </form>
</div>


      </div>
      
      
{%endblock%}

</html>
